<section id="about">
<span class="page-title">
  About
</span>

  <section class="about-me">
    <h1>
      William Matias
    </h1>
    <h2>
      CIS Lab Evening Administrator
    </h2>
    <p>
      I’m a full stack web and mobile
      Developer.  I Prefer to use javascript
      but I love Java EE and SE.
    </p>

    <button class="btn btn-primary">
      Get in Touch
    </button>

    <button class="btn btn-secondary">
      Know More
    </button>

    <blockquote class="blockquote">
      <p class="mb-0">Quality is not an act, it is a habit.</p>
      <footer class="blockquote-footer">By <cite title="Source Title">Aristoctels</cite></footer>
    </blockquote>
  </section>
</section>

