
<!-- Page Content -->
<main id="main-container" class="container-fluid">

  <div class="row">

    <nav id="main-navigation" class="col-lg-3">
      <figure>
        <img src="../../assets/images/programmer-illustration.png" alt="Programmer Illustration">
      </figure>
      <div class="list-group">
        <a href="#" class="list-group-item active">About</a>
        <a href="#" class="list-group-item">Projects</a>
        <a href="#" class="list-group-item">Contact</a>
      </div>
    </nav>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">
      <router-outlet></router-outlet>
    </div>
    <!-- /.col-lg-9 -->

  </div>

</main>
<!-- /.container -->
